@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

body {
  height: 100%;
  section{
    font-family: 'Lato', sans-serif;
  }

  h1 {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    font-style: italic;
    @include font-size(7)
  }
}

nav{
  font-family: 'Poiret', cursive;
    @include font-size(2.2);
}

#profilepic{
  max-width: 300px;
}


@media (min-width: 768px){
  .navbar-nav{
    margin: 0 auto !important;
    display: table !important;
    table-layout: fixed !important;
    float:none !important;
    width: 720px !important;
    margin-left: auto;
    margin-right: auto;
    li{
      &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5){
        text-align: center;
        width: calc((100% - 50px)/4);
      }
    }
  }
}

main{
  height: 100%;
  section{
    background-color: #ffffff;
    padding: 30px !important;
  }
}

html, body {
  height: 100%;
}
.block {
  display: table-row;
  height: 1px;
}
.push {
  height: auto;
}


@media only screen and (min-width : 320px) {
  main{
    padding-top: 50px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (max-width: 768px) {
  #icon{
    display: none;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #brand_icon{
    display: none
  }
  main{
    padding-top: 70px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}