body { padding-top: 150px; }

#profilepic{
  max-width: 300px;
}

@media (min-width: 768px){
  .navbar-nav{
    margin: 0 auto !important;
    display: table !important;
    table-layout: fixed !important;
    float:none !important;
  }
}
