body{
  background-image: url(../img/gplaypattern.png);
}

#publications{
  article{
    h3{
      margin-top: 6px;
      margin-bottom: 4px;
      &:last-of-type{
        margin-bottom: 15px;
      }
    }
  }
}