body {
  background-image: url(../img/gplaypattern.png); }

main h2 {
  color: #0c093b;
  margin-bottom: 0 !important;
  margin-top: 0 !important; }

main article {
  padding-left: 30px; }
  main article ul {
    padding-left: 0;
    list-style: none; }
    main article ul li:before {
      content: "\00BB \0020"; }
  main article .links {
    padding-left: 30px; }

main #past-courses h1:first-of-type {
  margin-top: 70px; }

main #office-hours {
  padding-left: 30px; }
  main #office-hours ul {
    list-style: none; }

main#teaching > section {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  background-color: transparent !important; }
  main#teaching > section #teaching-body {
    padding-left: 0 !important; }
  main#teaching > section nav {
    padding-right: 0 !important; }
  main#teaching > section section {
    background-color: white; }


main .affix {
  top: 70px;
  float: right;
  margin-left: -15px;
  background-color: white;
  padding-left: 15px; }

main #nav {
  background-color: white; }

main nav div * {
  color: #0c093b; }
  main nav div *:hover, main nav div *.active {
    background-color: white !important; }

main nav div > ul > .active > a {
  border-left: 2px solid #0c093b;
  padding-left: calc(15px - 2px); }

main nav div ul {
  list-style: none; }

main nav div > ul .nav {
  margin-bottom: 15px !important; }

main nav div > ul > li ul {
  display: block;
  font-size: small;
  font-weight: 300; }
  main nav div > ul > li ul a {
    margin-left: 20px;
    padding-top: 2px !important;
    padding-bottom: 2px !important; }
  main nav div > ul > li ul li.active {
    border-left: 2px solid #0c093b; }
    main nav div > ul > li ul li.active a {
      padding-left: calc(15px - 2px); }

@media only screen and (min-width: 320px) {
  main {
    padding-top: 50px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) {
  #icon {
    display: none; }
  nav .container {
    padding-left: 15px;
    padding-right: 15px; }
  #teaching-body {
    padding-right: 0 !important; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #brand_icon {
    display: none; }
  main {
    padding-top: 70px; }
  .affix {
    width: 187.5px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .affix {
    width: 242.5px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .affix {
    width: 292.5px; } }
